:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.content {
    max-width: 100%;
    margin: 0 auto;
}

router-outlet+* {
    display: block;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

@media screen and (max-width: 1600px) {
    router-outlet+* {
        max-width: 95%;
    }
}