@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e0e0e0;
}

.mat-mdc-form-field {
    width: 100%;
}

.mat-mdc-raised-button {
    height: 48px;
    font-size: 16px;
}